.card-body {
  .row {
    .col-md-4 {
      text-align: center;
      img {
        max-width: 150px;
        margin-bottom: 1rem;
      }
    }
    .col-md-8 {
      h2 {
        margin-bottom: 1rem;
      }
      dl {
        dt {
          font-weight: bold;
        }
        dd {
          margin-bottom: 0.5rem;
        }
      }
    }
  }
}
