// variables
$primary: #00bfe7;
$secondary: #6c757d;
$dark: #ffffff;
$body-bg: #ffffff;
$body-color: #212529;
$card-bg: rgba(255, 255, 255, 0.9);
$table-dark-bg: #f8f9fa;
$table-dark-color: #212529;
$table-dark-hover-bg: #e9ecef;
$navbar-dark-color: #000;
$navbar-dark-hover-color: #000;
$input-bg: #f8f9fa;
$input-color: #212529;
$input-border-color: #dee2e6;

// Bootstrap
@use 'bootstrap' as *;
@import 'bootstrap-icons/font/bootstrap-icons.css';

// Custom styles

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

body {
  font-family: 'Inter', sans-serif;
  background-color: #ffffff;
  padding-top: 70px;
}

.table-hover tbody tr {
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.table-hover tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.03);
}

.card {
//   border: none;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 12px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease-in-out;
}

.navbar {
//   background: rgba(255, 255, 255, 0.95) !important;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border: 1px solid rgba(0, 0, 0, 0.03);
  transition: all 0.3s ease-in-out;
}

.btn {
  transition: all 0.2s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modal {
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.toast.show {
  animation: slideIn 0.5s ease-in-out;
}
